[2019-07-03 15:04] flash-gordon commented on #559
This duplicates https://github.com/dry-rb/dry-schema/issues/165, track that issue

[2019-07-03 15:04] #559 closed

[2019-07-03 19:07] shepmaster commented on #540
Please consider how this can work with `.validate` as well.

[2019-07-04 16:08] solnic commented on #540
@shepmaster good point

[2019-07-05 11:42] bruno-campos opened #560 "Rules for nested data not applying if parent schema has errors on other nodes"
**Describe the bug**

When applying a rule for nested data, like `rule("user.name")`, it will fail to run if any of the other user nodes have errors on the schema. (Also described at: https://discourse.dry-rb.org/t/rules-for-nested-data-not-applying-if-parent-schema-has-errors-on-other-nodes/826)

**To Reproduce**

Here is a sample code:
[code]

Here are some scenarios with what I expect or not:

[2019-07-06 13:48] alexandru-calinoiu opened #561 "Rules don't work for enum types (used to in v < 1)"
Summary of what the feature is supposed to do.

## Examples

Given this type:

[code]

And the following contract:

[code]

The following code should raise a validation error:

[code]

It used to raise an error `rotation_pattern: ['must be one of: Weekly, Bi-Weekly']` it does not work anymore

## Resources

none

## Workaround

As a work around we can change the rule to:

[code]

[2019-07-06 13:52] flash-gordon commented on #561
This is addressed in https://github.com/dry-rb/dry-schema/pull/164 new version will soon be released.

[2019-07-06 13:52] #561 closed

[2019-07-08 20:12] #560 closed

[2019-07-09 18:24] shepmaster opened #564 "Validation rules treat Types.Constructor(Array) and Types::Array.constructor differently"
**Describe the bug**

Types created with `Types.Constructor(Array)` behave differently from those created with `Types::Array.constructor` when used with `.each`

**To Reproduce**

[code]

**Expected behavior**

`:sorts` would be an array of hashes.

**Actual behavior**

It fails validation:

[code]

**Your environment**

- Affects my production application: NO
- dry-validation version: 1.1.1
- Rub

[2019-07-09 20:51] shepmaster opened #565 "Can not define a rule when no parameters have been defined"
**Describe the bug**

I was setting up a common base contract with a shared permission check and no parameters. This causes a `NoMethodError` for `nil` error.

**To Reproduce**

[code]

**Expected behavior**

This code could be executed and do nothing.

**Actual behavior**

[code]

**Your environment**

- Affects my production application: NO
- dry-validation version: 1.1.1
- Ruby version: 2.6.2
-

[2019-07-10 08:44] solnic commented on #565
We definitely should have a more meaningful error in such cases. I only wonder why do you think anybody would like to use a contract w/o params defined?

[2019-07-10 08:45] solnic commented on #565
Oh wait, it crashes at the `rule` level - gotcha now! OK, this is clearly a bug. I'll fix it.

[2019-07-10 08:49] solnic commented on #564
@flash-gordon this is....not a bug, but it's kind of a...gotcha. `Types::Array` is a strict type, so dry-schema infers `type?(Array)` whereas with `Types.Constructor(Array)` it does not use a strict type under the hood. This means the behavior is expected, but it's somewhat confusing.

[2019-07-10 08:54] flash-gordon commented on #564
@solnic dry-schema can infer type checks from nominal types (right?), `Types.Constructor` wraps a nominal type so I would expect it to work. Or not, if there are reasons for it _not_ to work. At this point, I don't see any but I'll have another look a little bit later.

[2019-07-10 08:57] solnic commented on #564
@flash-gordon we could infer type checks from nominal types, it would be a bit implicit and not in-line with how dry-types work but it feels like it would be OK in this case.

[2019-07-10 09:00] flash-gordon commented on #564
@solnic it passes:
[code]

[2019-07-10 09:09] solnic commented on #564
@flash-gordon ohh, it looks like we're having a completely different issue, because look:

[code]

So it looks like it doesn't coerce

[2019-07-10 09:26] mensfeld opened #566 "Regression in reference to 1.1.1"
Code that was working in `1.1.1` related to not executing custom rules when schema not matched for a given attribute does not work in `1.2.0`.

Given a definition like that (see [here](https://github.com/karafka/waterdrop/blob/6926bdb7d1ffb71d6cebe70218359168d95314f2/lib/water_drop/contracts/config.rb#L50))

[code]

and a custom rule as followed [here](https://github.com/karafka/waterdrop/blob/692

[2019-07-10 10:36] shepmaster commented on #565
The children will specify params.

[2019-07-12 13:14] alexandru-calinoiu opened #567 "Rule .each will fail for non arrays"
**Describe the bug**

Array rules will fail if the user feeds non array data in the fields

**To Reproduce**

Give a rule like this:

[code]
running `Contract.call(steps: '42')` will throw an exception.

**Expected behavior**

Should consider that the value might not be an array and don't run the validations.

**Your environment**

- Affects my production application: NO
- Ruby version: 2.6.2
- OS

[2019-07-12 13:29] alexandru-calinoiu commented on #567
Hm, loooking at the code https://github.com/dry-rb/dry-validation/blob/29d4aff9e3f14c3aae8244a0123481746fd51333/spec/integration/contract/class_interface/rule/each_spec.rb#L37 it should not run the rule if it does not passes schema checks, but for a reason it does not do that in my case.

[2019-07-12 13:37] alexandru-calinoiu commented on #567
Here is a sample contract that fails:

[code]

[2019-07-12 14:00] alexandru-calinoiu commented on #567
I've drafted a pr with a test that shows the issue and a possible fix.

[2019-07-12 19:33] ndan opened #569 "ArgumentError: Can't compare paths from different branches"
I'm getting an error when using rule with nested params. The error occurs when I have invalid value for nested (with rule) and top level attrs.

[code]

[2019-07-12 19:38] ndan opened #570 "undefined method `Pathname' for Dry::Validation:Module"
it seems `require 'pathname'` is not present in the code
[code]

[2019-07-16 05:32] #569 closed

[2019-07-16 05:38] #570 closed

[2019-07-16 06:04] solnic commented on #566
This is not valid. Previous behavior was broken and waterdrop relied on that by an accident (which I fixed in the referred PR)

[2019-07-16 06:04] #566 closed

[2019-07-16 06:04] #567 closed

[2019-07-16 06:21] #565 closed

[2019-07-18 01:19] shanecav84 opened #574 "Use existing schema with contract"
I have a schema defined separately. I would like to use it in my contract. Also, it might be worthwhile in the future to be able to extend the existing schema within the contract

## Examples

[code]

## Resources

- Previously mentioned: https://discourse.dry-rb.org/t/how-to-use-existing-schema-with-contract/834

[2019-07-20 18:10] alexandru-calinoiu commented on #567
Unfortunately this is not fixed in the 1.2.1, I get the same error with the sample above :(

[2019-07-20 18:42] solnic commented on #567
@alexandru-calinoiu the spec you wrote in #568 passes. Please provide another test that fails.

[2019-07-30 10:13] vladra opened #576 "Rule executed despite schema being invalid"
Hi :v: Not sure if I use rules correctly, but looks like its a bug. Please take a look. Thank you.

**Describe the bug**

Rule for nested attributes is being executed despite schema contains invalid values.

**To Reproduce**

[code]

**Expected behavior**

Rule should not be executed when schema is invalid.

[2019-07-30 13:02] solnic commented on #576
Thanks for the report. I'll fix it in the next bug fix release.

For now, as a workaround, use dot-notation:

[code]

[2019-07-31 09:21] DawidJanczak opened #578 "Calling a macro on a deeply nested rule"
I'd like to be able to specify a macro in the following manner: `rule(foo: :bar).each` where both `foo` and `bar` are arrays.

## Examples

As an example please have a look at this spec that's currently failing: https://github.com/dry-rb/dry-validation/compare/master...DawidJanczak:macro-on-deeply-nested-rule

## Resources

Discussed with @solnic here: https://discourse.dry-rb.org/t/calling-a-macr

[2019-08-04 00:01] alassek commented on #574
I think this is reasonably important to have as a public API, because Contracts cannot be composed together in the same way Schemas can; therefore I need to be able to define them separately.

Currently, I just patch in
[code]
and then do
[code]

[2019-08-05 09:05] solnic commented on #574
@alassek yes it is, it'll be added in 1.3.0

[2019-08-14 11:34] #574 closed

[2019-08-14 11:34] #576 closed

[2019-08-24 06:03] dwilkie opened #582 "Conditionally Required Fields"
In many REST APIs it's often the case when creating resources, certain fields are required but when updating resources, all fields are optional and only the fields which are provided are updated.

## Examples

For example, the following schema is good for validating user creation.

[code]

But when updating a user, we need the following schema:

[code]

We don't want to repeat the schema and the r

[2019-08-27 10:24] Mistgun commented on #582
@dwilkie you could just send all of those params again, instead of sending blank values on update.

[2019-08-28 14:04] barmic12 opened #583 "Rules for array"
I have following schema:

[code]

I'd like to be able define rules like:

`rule(answers: :question_id)`

But I get:
[code]

When I call `schema.key_map` I get:

`#<Dry::Schema::KeyMap["response_id", ["answers", ["question_id", {"value"=>["possible_answer_ids", "content"]}]]]>
`
I was looking for a similar example in specs, but I didn't find.

Is it possible to define rules like that?

[2019-08-28 14:42] Mistgun commented on #583
Try with:
[code]

[2019-08-28 14:45] barmic12 commented on #583
It works, thanks!

[2019-09-04 13:24] barmic12 commented on #583
Hello again, I have the additional issue related with this question.
I want to get response with errors in this way (like another default validations):

[code]

I was trying in this way:
[code]

But I get:

`stages => ["error message"]`

[2019-09-04 16:04] flash-gordon commented on #583
Please don't use Github for asking questions, see https://github.com/dry-rb/dry-validation/blob/master/CONTRIBUTING.md for links to our forum and chat.

[2019-09-04 16:04] #583 closed

[2019-09-04 18:33] dsennerlov opened #584 "Rules raises ArgumentError on failure with hash message"
**Describe the bug**

Calling `key.failure` with hash message in `rule` raises `ArgumentError: +message+ must be either a Symbol, String or Hash (nil given)`

**To Reproduce**

[code]
**Expected behavior**

No exception raised, and input hash should be used as error message

**Your environment**

- Affects my production application: No
- Ruby version: 2.5.1
- OS: Ubuntu

#### Stack trace
[code]
##

[2019-09-08 16:46] solnic commented on #578
![](https://github.trello.services/images/mini-trello-icon.png) [[dry-rb/dry-validation] Calling a macro on a deeply nested rule (#578)](https://trello.com/c/AZ84TAZQ/3-dry-rb-dry-validation-calling-a-macro-on-a-deeply-nested-rule-578)

[2019-09-28 22:01] emaglio opened #589 "Dry::Validation::Result#messages ignore locale option"
**Describe the bug**

After calling a `Dry::Validation::Contract` on `errors` the `locale` option return the correct translation instead when using `messages` this option seems ignored

**To Reproduce**

Giving a simple contract like this one:
[code]
Here a portion of my error file:
[code]
Here a screenshot from my console:
![image](https://user-images.githubusercontent.com/5493507/65822901-3e018b

[2019-10-02 08:21] MatElGran commented on #589
@emaglio I had to change a bit your example to make it work for the base case (ie with default language). As I'm new to this code base, I'm not sure if I'm doing something wrong or if there were errors in your code example.

Anyway, I think the problem here is that you are not providing the correct error key (cf cf https://dry-rb.org/gems/dry-schema/error-messages/#finding-the-right-key). Given th

[2019-10-02 09:14] MatElGran commented on #584
Hi @dsennerlov

The code expects at least a `text` key in the provided hash, and the rest of the hash will be available as the meta attribute of the error message ie this:

[code]

will work like this:

[code]

Maybe we could add a more useful error message in this particular case, and modify the documentation so that this point is a bit more explicit ? @solnic WDYT ?

[2019-10-03 07:36] solnic commented on #584
Yes that's the way to make this better. This method doesn't work with arbitrary hashes after all.

[2019-10-03 07:38] solnic commented on #589
@MatElGran `Result#messages` is a method provided by the `:hints` extension, so first you gotta enable it via `Dry::Validation.load_extensions(:hints)`.

[2019-10-06 20:08] ianwhite opened #593 "Composable contracts"
This feature will allow contracts to be composed of other contracts, optionally mounted at input paths.

## Example

[code]

## Implementation

- Initial on branch [composable-contracts](https://github.com/dry-rb/dry-validation/tree/composable-contracts)
  - [x] Create a **:composable** extension
  - [x] implement new #contract feature in the :composable extension
  - [x] Add #path block DSL
  - [

[2019-10-08 08:41] solnic commented on #593
Feel free to open a draft PR early if you'd like to get some feedback sooner.

[2019-10-08 09:08] ianwhite commented on #593
Will do, when the next item (simplify ResultSet) is checked off.

[2019-10-08 15:06] greyblake opened #594 "Sublcasses can chang behaviour of parent class (Contract)"
### Steps to reproduce

Considering we have the following code snippet

[code]

Output (result with errors: password is missing):
[code]

### Insights

It looks like `LoginContract` and `EmailContract` due to inheritance share some common state which is mutated by defining params schemas for `EmailContract`.

### Expected

I would expect one of the following:
* Subclasses (`LoginContract`) MUST NO

[2019-10-08 15:17] ianwhite commented on #594
I wonder if this is to do with the multiple schemas inheritance introduced in #587 🤔?

I'll write a test case based on the above, and investigate.

[2019-10-08 15:46] greyblake commented on #594
Thanks for the hint!
A workaround is for now is to lock `dry-schema` to version `1.3.4`.

[2019-10-08 15:58] ianwhite commented on #594
I've just written a test case based on your example, and confirmed that it is a problem with dry-schema > 1.3.4.

[2019-10-08 16:26] greyblake commented on #594
@ianwhite  thank you!

[2019-10-08 20:25] ianwhite commented on #594
This should be fixed when dry-rb/dry-schema#196 is merged. That change has a test, so I don’t think we need the test above to be in dry-validation

[2019-10-08 20:25] #594 closed

[2019-10-09 05:01] emaglio commented on #589
@MatElGran yeah as per @solnic reply we should be able to do something like:

![Uploading image.png…]()

So calling `messages` from the `result` object not from the `errors`
:+1:

[2019-10-09 11:38] greyblake commented on #594
We've updated to dry-schema 1.4.1. Everything works smoothly:)
@ianwhite  @skryukov thank you guys!

[2019-10-10 09:42] ianwhite commented on #593
Closing in favour of #595

[2019-10-14 19:07] skryukov commented on #584
@solnic this can be closed?

[2019-10-15 08:18] #584 closed

[2019-10-28 12:48] wscourge opened #601 "Specifc message for more than one key validation"
According to the documentation: [Depending on more than one key](https://dry-rb.org/gems/dry-validation/1.3/rules/#depending-on-more-than-one-key), an error message related to the `rule` and added by `key.failure(:whatever)` relates to the first argument passed to the `rule` method:

[code]

As you can see, `:end_date` is the `key` under which validation error resides in the output hash. This does

[2019-10-28 18:48] skryukov commented on #601
Hi, @wscourge, you can do this:

[code]

Also, I want to point out that we use issues for confirmed feature requests and bug tracking. For discussions/questions, please use https://discourse.dry-rb.org. See [CONTRIBUTING.md](https://github.com/dry-rb/dry-validation/blob/master/CONTRIBUTING.md) for more info.

[2019-10-28 18:48] #601 closed

[2019-10-29 06:55] wscourge commented on #601
Thanks for a swift response, you're obviously right.

[2019-10-31 14:55] jeanfbrito commented on #193
Sorry for the out of time question. But how I can use `input :hash?` nowadays with the updated `dry.schema`?
I need to update old `dry.validation 0.13` to the `dry.schema 1.x` but I cant find nothing that helps me in two weeks.

Could you light my path in some way?

[2019-10-31 22:12] timriley commented on #193
@jeanfbrito I recommend you bring this to the forum: https://discourse.dry-rb.org

We don't use GitHub issues for support.

[2019-11-15 16:23] bilby91 commented on #582
@solnic Do you have any ideas on how dry-validation can solve this ? Something like having variants of a schema ? Or having another api to transform the main schema ? We are needing this feature as well in order to not duplicate contracts that have different schemas.

[2019-11-20 16:18] spazer5 opened #603 "Can't set rule for array of hashes"
[code]

This errors out: `Dry::Validation::InvalidKeysError: PropsContract.rule specifies keys that are not defined by the schema: ["contacts.email"]`

[2019-11-21 00:45] BroiSatse opened #604 "Errors without messages"
At the moment validation contract returns nice human-readable errors via translation backend. Being a robot, I do not like it and I'd prefer pure data object/hash to be returned.

Justification: I don't think it is contract responsibility to translate it's errors. When used within API, all the i18n normally happens on the client side, so API can be completely translation-free.

## Examples

    cl

[2019-12-05 09:57] solnic commented on #582
@bilby91 I don't have. For the time being you can simply do this:

[code]

[2019-12-05 10:14] solnic opened #606 "Expose index within "each" rules"
## Examples

[code]

## Resources

Refs #603

[2019-12-05 10:17] solnic opened #607 "Support for array items in rule paths"
## Examples

[code]

## Resources

Refs #603

[2019-12-05 10:18] solnic commented on #603
This is expected behavior. Rule path syntax doesn't support array items yet. In the future it'll be possible to do `rule("contacts[].email")` but for now, you gotta do this:

[code]

This will be slightly simplified once #606 is done, so stay tuned. I also reported #607 about the array item path syntax.

[2019-12-05 10:18] #603 closed

[2019-12-08 08:38] skryukov commented on #607
@solnic shouldn't the rule be without `.each`?

[2019-12-08 10:34] solnic commented on #607
@skryukov I think it should be with `each`, because otherwise we'd have to infer `each` from the path anyway. I prefer to keep it explicit.

[2019-12-09 17:08] skryukov commented on #607
@solnic I see your point, but how we will differentiate, should we iterate over `emails` or use `email` as a target item for the rule? Maybe we should introduce another method to explicitly tell dry-v to find array items inside a rule?

[2019-12-09 17:54] solnic commented on #607
@skryukov wait, I think I’m missing something - differentiate what?

[2019-12-09 19:30] skryukov commented on #607
@solnic I'll try to explain =)

For example, we have a schema like this:

[code]

So how we should know when a rule needs to be applied to the item itself (`email`) and when on elements of the item (`additional_emails`)? And what if I want to check something like this:

[code]

[2019-12-09 22:09] flash-gordon commented on #607
One more thing, `contacts[].values[]` <- how would that work? :) It's probably better to reject such paths

[2019-12-10 09:36] solnic commented on #607
I don't know. Please feel free to figure it out however you think is best 😄

[2019-12-13 09:31] solnic commented on #589
Here's a valid repro:

[code]

[2019-12-13 09:36] solnic commented on #589
for the record, this is specific to dry-validation. I tried the same thing with standalone dry-schema and it works correctly.

[2019-12-13 14:09] cgeorgii commented on #593
I think this issue should stay open until it's resolved, because I believe other people would also like to get notified whenever it gets solved and if it's open it won't be forgotten (hopefully).

[2019-12-13 14:11] ianwhite commented on #593
Hi, I'm happy to do that.  I'm hoping to get some time to work on the new plan outlined in #595 over the Xmas break.

[2019-12-19 15:07] aleksandra-stolyar opened #608 "import_predicates_as_macros: included_in?, format?, size? issues"
[code]

For `included_in?` and `size?` passing an array of integers/strings not working but it works when just one value passed or with predicates which do not require arrays)
`included_in?`

`size?`

ArgumentError (wrong number of arguments (given 256, expected 2))

This predicate is just returning error.
`format?`

<Dry::Container::Error: Nothing registered with the key :format?>

[2019-12-19 15:14] aleksandra-stolyar opened #609 "rules list parsing error"
[code]

produces:
`Hogwarts house common room location must be one of: [\"tower\", \"underground\"]`

[code]
produces:
`Hogwarts house common room location must be one of: tower, underground`

[2019-12-30 19:24] lromeo commented on #608
Just ran into these same issues with `included_in?` and `format?`

[2020-01-01 21:14] waiting-for-dev commented on #608
#610 adds missing `:format?` predicate.

About the other two, the issue is that they are related to predicates expecting an array (or range) as argument. It hasn't straightforward solution. Macro argument(s) are forwarded to the predicate method, and we don't have any way to tell whether it expects an array or an unitary item. I see three options:

- Force the user to be explicit. For example, cur

[2020-01-03 10:08] solnic commented on #608
@waiting-for-dev that's OK, it's **always worked like that**, going back to dry-validation `0.x`. We gotta make sure to document it properly.

[2020-01-03 10:10] solnic commented on #608
@waiting-for-dev  ...no wait, sorry - it did not work like that in dry-validation `0.x`! dooh. OK this needs to be investigated because I can't say why it's not working as expected in case of predicate extension :(

[2020-01-04 17:39] waiting-for-dev commented on #608
Currently, a predicate can be of three kinds:

- `#method(input)`, as in `#empty?([1, 2])`
- `#method(value, input)`, as in `#gt?(1, 2)`
- `#method(list_value, input)`, as in `#included_in?([1, 2], 1)`

The last two are problematic when used with `import_predicates_as_macros` extension. Macro arguments are always collected as an array:

[code]

In the `#included_in?` example, of course the user sh

[2020-01-04 17:43] waiting-for-dev commented on #608
In the case of `#size?` the user is in fact providing what the predicate method expects, but `dry-validation` coercers arguments with `Array()` so the information is lost.

[2020-01-04 17:48] waiting-for-dev commented on #608
Maybe we should:

- Don't coerce with `Array()`. Just create a singleton array when provided macro arguments returns false with `#is_a?`.
- Document properly the situation for array arguments. Alternatively, change `dry-logic` to accept splatted arguments, but I don't like moving the complexity to the fundamental piece...

[2020-01-06 19:20] #609 closed

[2020-01-07 07:03] waiting-for-dev commented on #609
@aleksandra-stolyar this is now fixed in master

[2020-01-08 09:32] solnic commented on #608
I bet that is the solution we're looking for

[2020-01-15 12:29] flash-gordon opened #615 "Add key.success? and key.failure? predicates"
In complex rules, it may be useful to know whether the key has any failure message already.

[code]

[2020-01-15 17:20] waiting-for-dev commented on #608
The referenced PR should fix the issue here with `#size?` predicate usage with a range.

About `#included_in?`, the predicate expects an array so the correct way to specify it is `included_in?: [[18, 21]]`. Saying `[18, 21]` would mean that the predicate expected two arguments. I understand this may seem confusing at first sight. As I said, an option would be modifying `dry-logic` to also accept s

[2020-01-16 07:25] waiting-for-dev commented on #615
If it's ok, I'll give a try to it.

[2020-01-16 07:28] flash-gordon commented on #615
Sure.

[2020-01-16 17:04] waiting-for-dev commented on #615
Hmmm this seems tricky... it implies changing the architecture so that the evaluator and failures for every key are shared between all rules. Am I wrong?

[2020-01-16 17:07] flash-gordon commented on #615
For me, it would be enough to work only within a single rule run. Though I can see how it can be not immediately obvious. @solnic any thoughts?

[2020-01-16 17:08] flash-gordon commented on #615
`rule.failure?` or something along the lines could be another approach

[2020-01-16 17:11] waiting-for-dev commented on #615
Probably `rule.failure?` makes more sense, as `key.failure?` implies that `key(name).failure?` should work. However, the scenario where evaluator is shared also makes sense for even more complex rules :)

[2020-01-17 08:20] solnic commented on #615
I forgot we have `error?`. Currently it expects path arg but we can set it to the default key, so you could have:

[code]

I think this should be enough and we don't need `key.failure/success?`.

[2020-01-17 08:31] flash-gordon commented on #615
works for me though `rule.error?`/`rule.failure?` still could be useful

[2020-01-17 09:27] solnic commented on #615
@flash-gordon why?

[2020-01-17 09:31] flash-gordon commented on #615
@solnic rules can be quite convoluted, especially in macros. This is the exact need I had when filed this issue. Keeping them simple is not always feasible.

[2020-01-17 10:00] solnic commented on #615
@flash-gordon ok makes sense

[2020-01-17 17:27] flash-gordon commented on #615
@waiting-for-dev so I think adding a default argument to `error?` would be enough here. I can add a separate feature request about `rule.error?`.

[2020-01-19 17:10] luccasmaso opened #618 "Result "errors(full: true).to_h" method output not expected"
The expected value for `Dry::Validation::Result` instance method `errors` is to
- errors(full: true|false) (Boolean) — Get messages that include key names
- https://rubydoc.info/gems/dry-validation/Dry/Validation/Result#errors-instance_method

The current behavior is that, for `params do` the key is added to the message, but for `rule do` that adds a failure to the key it isn't:

dry-validation: 1

[2020-01-22 08:52] DawidJanczak opened #620 "Generic and specific rule for a nested array"
We have a deeply nested schema with an array of hashes where one of the attributes is also array of hashes. Now for that nested array it doesn’t seem to be possible to add an error both to the attribute itself and to its nested children. You can find a trivial example where an error is always being set below:

[code]
This fails with
[code]
From glancing over the code it seems to me like once a mes

[2020-01-28 00:56] RobinClowers opened #621 "JSON schema coercing empty string to nil"
Using the json schema, empty strings are being coerced to nil.

[code]

Since this is an optional maybe string, it should not coerce to nil.

    Affects my production application: NO
    Ruby version: 2.6.2
    OS: MacOS 10.15.2

[2020-02-07 15:58] coneybeare opened #624 "MessageMissingError when using predicates as macros and uuid_v4"
**Describe the bug**

When implementing predicates as macros, and the `uuid_v4?` predicate, it appears there is not default error message like there is for the other macros.

**To Reproduce**

[code]

[code]

**Expected behavior**

I would expect that there be an error message like `uuid is not a valid UUID`. Some of the predicates have messages `gteq?` for example, others don't. I would expect co

[2020-02-25 10:11] nowakov commented on #377
@flash-gordon Hey. Can we get an ETA on the next release? We have a feature that depends on this functionality and I'm not sure if we should wait or try to implement it on our own.

Thanks :)

[2020-02-25 12:04] solnic commented on #377
@nowakov this will be available in dry-schema/validation 2.0.0. ETA is ~March.

[2020-03-18 12:35] tadeusz-niemiec opened #634 "Changed interpolated string name in error message"
Hey, after upgrading to 1.5.0 I found that interpolated string error in "size?:" key is now called "size" but before it was a "num".

Example:
This worked before and now doesn't:
`size?: "musi mieć %{num} znaków"`

This works now:
size?: "musi mieć %{size} znaków"

I'd like to mention also that the interpolated string key remained unchanged for "max_size?:" and "min_size?:" error keys - it's still

[2020-03-19 11:35] solnic commented on #634
@tadeusz-niemiec thanks for the bug report. Is this with `i18n` or plain `yaml` backend?

@robhanlon22 this seems related to the recent changes you made. It's interesting because the interpolation variable was *always* called `size`. I think the problem here is that previously interpolation variables would be extracted and somehow mapped automatically and now we're delegating to the backend so the

[2020-03-19 11:38] tadeusz-niemiec commented on #634
@solnic Sorry for not mentioning that, I use i18n.

[2020-03-24 15:08] coneybeare opened #635 "Validate Keys raises exception with array params"
**Before you submit this: WE ONLY ACCEPT BUG REPORTS AND FEATURE REQUESTS**

For more information see `CONTRIBUTING.md`.

**Describe the bug**

When using `config.validate_keys = true` with arrays, we get a `flat_map` error.

A clear and concise description of what the bug is.

**To Reproduce**

[code]

Provide detailed steps to reproduce, an executable script would be best.

[code]

**Expected be

[2020-03-24 16:36] korrs commented on #618
I started to fix this bug and found strange behaviour: When validation fails in params and rule definitions, then only error from params will be shown, error message from rule will be skipped.

For example:
[code]

But when params check passed we can see rule error
[code]

Is it expected behaviour?

I suppose, all error messages should be shown after validation:
[code]

[2020-03-24 19:03] flash-gordon commented on #618
@korrs absolutely, you cannot run rule checks on ill-typed input

[2020-03-25 01:09] korrs commented on #618
👌

[2020-03-25 14:16] jameskbride commented on #593
Hi @ianwhite and @solnic! First I just wanted to take a moment and thank you and the rest of the devs involved in this project for all of your efforts. It's really appreciated, and I know how hard it is to maintain projects like these.

That said I was hoping to find out what the state of this feature request is? I see from the threads that some of the work has shifted to dry-struct and dry-schema

[2020-03-26 09:26] solnic commented on #593
@jameskbride hey 😄 this is on hold but *I think* @ianwhite is still interested in working on this, so please try to sync up with him first.

[2020-03-26 09:32] ianwhite commented on #593
Hey, I’ve had a bunch of life issues recently interfering with my available time, but am still keen to work on this.  I also want to grok the recent changes to dry-schema to make sure the approach still holds.  Happy to discuss @jameskbride

[2020-04-09 04:33] timriley opened #637 ""External dependencies" doc page should mention and link to dry-initializer"
There's no information on this page about how exactly the `option` DSL works. We could clarify things with a sentence saying it is provided by dry-initializer and linking to its docs.

That would help people e.g. wanting to work out how to provide default values for options, etc., without us needing to repeat that information here.

[2020-04-16 01:53] bilby91 commented on #593
@ianwhite @jameskbride I'm really interested in this feature as well and probably will have some bandwidth to help on this!

[2020-04-17 14:58] vmikhaliuk opened #638 "Wrong `rule_error?` with macros"
**Describe the bug**

`rule_error?` does not respect macro errors

**To Reproduce**

[code]

[code]

**Expected behavior**

I would expect `rule_error?` to play nice with macros :)

**Your environment**

- Affects my production application: **NO**
- Ruby version: 2.7.1
- OS: 5.6.4-arch1-1 x86_64 GNU/Linux

[2020-04-17 15:02] vmikhaliuk commented on #638
An interesting thing here is that result object contains proper errors. So result.errors[:id].empty? works for me in this case.

[code]

[2020-04-18 09:19] solnic commented on #638
I know this is confusing at the moment, and it will be improved eventually, but *actually* `rule_error?` checks if there are errors produced by **the current rule**. There's no API yet for checking if there's an error from other rules. Checking `result.errors` will work for now though.

[2020-04-18 09:19] #638 closed

[2020-04-27 20:15] rruiz858 commented on #583
It would have been nice if this was answered..

[2020-04-29 10:06] jiggneshhgohel commented on #582
I had a related query to this issue which I was about to ask and thought let me first check if I can find any related issues in open issues list and I ended up finding this. My use-case is

I have following schema for an Address model I have:

[code]

I have a need wherein applying a rule on optional `validation_context` I want to make the required `contact_detail` optional.

[code]

Is something

[2020-04-29 11:06] solnic commented on #582
@jiggneshhgohel no it's not possible. Once you're within a rule your schema is already established so you can't alter it based on input.

[2020-04-29 11:20] jiggneshhgohel commented on #582
@solnic Thanks for the prompt response.

[2020-04-30 21:57] mediafinger opened #642 "Coercion of String to Integer broken in v1.5 with Rails 6"
I added a dry-validation contract with `required(:amount).filled(:int?, gt?: 0)`.
While this works the automatic **coercion** from _"String"_ to Integer does not work.

I even used the code from this example to ensure I didn't make a mistake:
https://github.com/dry-rb/dry-validation/blob/master/examples/params.rb

As I am just starting a refactoring of this app and using dry-validation I don't kno

[2020-05-01 08:41] flash-gordon commented on #642
@mediafinger ah, sorry, these examples are stale, I updated this one https://github.com/dry-rb/dry-validation/commit/4e4d87a0c28eb96133b87c96f4cf840304bbe2bc
You should always pass types, i.e. `:integer` rather than `:int?` because types are what makes coercion. `:int?` is only a predicate, it's automatically inferred from the type so you don't need to pass it. I'll update (or remove?) those examp

[2020-05-01 18:16] mfly opened #643 "Unexpected keys present in the result when attribute is defined to be hash or array of hashes"
**Describe the bug**
I need a Contract that is valid for hashes where the `:data` key is either a `Hash` with defined structure or an `Array` of such `Hash`es:

[code]
OR
[code]

Following contracts work as expected:

[code]
[code]
**To Reproduce**

Unfortunately a Contract that combines those two rules leaks unexpected properties when `:data` contains a `Hash`:

[code]
It works in the second scen

[2020-05-01 19:35] #643 closed

[2020-05-05 15:57] mediafinger commented on #642
@flash-gordon thanks a lot for this quick response and for updating the examples 😃 This solved my issue (and I learned a bit more about how to validate)!

[2020-05-05 15:57] #642 closed

[2020-05-13 08:43] kaleb4eg commented on #620
I am also interested in that ^. Also, it would be great to have ability to define rules for deeply nested data with arrays.

[2020-05-14 07:16] DawidJanczak commented on #620
@kaleb4eg's comment reminded me about this issue and I started by writing a spec for it here https://github.com/dry-rb/dry-validation/compare/master...DawidJanczak:spec-for-issue-620 but it seems the issue is now resolved as the spec passes on master. @solnic could you double check if that's indeed the case and if this can be now closed? Also let me know if you'd like to merge that spec, I can ope

[2020-05-16 11:08] solnic commented on #620
@DawidJanczak please open a PR with this spec and I'll take a look

[2020-05-17 04:15] DawidJanczak commented on #620
@solnic done: https://github.com/dry-rb/dry-validation/pull/645

[2020-05-19 10:52] solnic commented on #620
Closing via #645

[2020-05-19 10:52] #620 closed

[2020-05-20 07:15] Sphaerus opened #646 "Default error message for registered macro"
Provide a default error message for registered macros which would not consider attributes using the macro

## Examples

[code]

when using this macro for, lets say, `email` attribute, dry will look for error message in errors.yml like this:

[code]

instead id like to defined a default error message for every `macro_invalid` error there is:

[code]
Is this already possible somehow, and if not woul

[2020-05-20 09:22] solnic commented on #646
It works like that but you need to provide the message under `en.dry_validation.errors.macro_invalid` - does that work for you?

[2020-05-20 09:30] #646 closed

[2020-05-20 16:52] anmacagno commented on #593
I am composing contracts in this way. What do you think?

[code]

[2020-05-21 09:11] solnic commented on #593
@anmacagno I think it's perfectly fine to do it like that for the time being, but eventually we definitely want a dedicated feature that would make it easier

[2020-05-21 13:14] ianwhite commented on #593
I’m going to have some time to work on this tomorrow (Australian time).  I’ll jump on Zulip form about 9am Australian Eastern Time.

[2020-05-25 09:29] tadeusz-niemiec commented on #634
I want to try myself with this issue, but I would appreciate some clues. I assume this might be caused by dry-schema, am I right?

[2020-06-15 11:01] sirfilip commented on #618
Hello love dryrb and love to help with this one,

Will create pr with proposed solution

[2020-06-17 06:24] sirfilip commented on #589
Hello People, I can pick this one up

[2020-06-24 10:19] solnic commented on #618
This was fixed in 1.5.1

[2020-07-13 20:57] erikbelusic opened #653 "ArgumentError: comparison of Symbol with 0 failed"
I am getting `ArgumentError: comparison of Symbol with 0 failed` when trying to apply a rule to an array, when the parent param to that array is invalid.

**To Reproduce**

[code]

**Unexpected behavior**

[code]

**Expected behavior**

get result
[code]

this is what i get without the rule, and what is expected.

**My environment**

- Affects my production application: **YES**
- Ruby version: 2.5

[2020-07-14 08:12] #618 closed

[2020-07-14 08:15] #653 closed

[2020-07-14 20:39] mrbongiolo commented on #606
@solnic could I try solving this one? Currently in the process of upgrading our application from `0.x` to `1.5.x` and this would help in some cases.
Right now I have to created rules like that:
[code]

[2020-07-14 22:47] kelvinlzhang commented on #377
@solnic @flash-gordon same question as @nowakov, do you guys have an updated ETA?

[2020-07-15 05:43] solnic commented on #606
@mrbongiolo sure, you're more than welcome to help with this feature :)

[2020-07-15 05:44] solnic commented on #377
@kelvinlzhang no, not really, most likely before the end of the year though

[2020-07-17 09:17] PragTob opened #655 "Dry::Validation::Result#error?(:field) returns false although there is an error (when triggered by rule)"
Hello my friends :wave: :

Thanks for all your hard work on these gems :green_heart:

**Describe the bug**

When an error is the result of a rule it seems that `error?(:field)` returns false, although there is an error.

**To Reproduce**

[code]

**Expected behavior**

`error?` should return `true` because there is an error.

I'm semi worried that because I found `error?` in the `dry-schema` docs

[2020-07-17 09:34] solnic commented on #655
hey @PragTob - I know this is confusing, this is actually designed to only check for schema errors. We should *for sure* change it to take into consideration all errors 😅 This is [why it works the way it works](https://github.com/dry-rb/dry-validation/blob/230138cd190d6ca943173fce730bdd3c042f6fe1/lib/dry/validation/result.rb#L106). I do consider this as a bug though so let's fix it 😄

[2020-07-21 15:46] graudeejs opened #658 "Add support for rule_error? to check if other rules failed."
`#rule_error?` can be used to check if there have been errors in current rule. However unlike `#schema_error?`, it can't be used to check if other rule has failed.

Please add support to `#rule_error?` to check if other rules have failed by passing argument similar to `#schema_error?`

## Examples

[code]

[2020-07-24 15:41] Sbastien opened #659 "Rule#each raise an error if the schema is extended by another one"
Hello Guys,

First of all, thank you for your gems which are really good :)

**Describe the bug**

An error is raised when we use the `Rule#each` method for a key when another key, **defined before the array**, does not pass the schema validation :

[code]

The error seem to be raised from here : https://github.com/dry-rb/dry-validation/blob/master/lib/dry/validation/rule.rb#L86

**To Reproduce**

[2020-07-27 07:54] Sbastien commented on #659
I've update the description because it was not correct.

[2020-07-27 11:42] #659 closed

[2020-07-27 11:47] #655 closed

[2020-07-27 11:48] solnic commented on #655
This was addressed via #656

[2020-07-30 16:45] stind opened #661 "Full error messages don't include the key name"
_This issue was initially reported in discourse: https://discourse.dry-rb.org/t/inconsistency-in-resolving-full-error-messages/1091_

1. Full message of a key failure does not include the key name when the key is not translated and the failure method was called with a symbol message, e.g. `key.failure(:is_invalid)`.
So the error message looks like `" is invalid"`, instead of `"foo is invalid"`.

2

[2020-08-03 11:15] adamransom commented on #658
Now that we have https://github.com/dry-rb/dry-validation/pull/656, I currently use `result.error?(:name)` inside of `rule` blocks (which works).

I wonder if it is worth just un-deprecating `error?` and allow that to check for both rule and schema errors for any key? Is there a case where we would just want `rule_error?` (if you depend on the `:name` key in your rule definition, then `error?(:nam

[2020-08-03 11:36] adamransom opened #663 "Support per-key custom errors for array paths"
Given the following contract:

[code]

it should be possible to define the message for `:invalid` under `:people` as follows:

[code]

However, currently, this gives an error that the `:invalid` key can't be found under `people.0`. Instead, you need to define the translations as such:

[code]

_Issue originally reported [on Discourse](https://discourse.dry-rb.org/t/i18n-paths-for-array-rules/1097)

[2020-08-04 08:55] solnic commented on #658
@adamransom yes, that's a legit use case. In fact, I have a couple of such cases in my current project at work 🙂

[2020-08-04 08:57] adamransom commented on #658
Fair enough! I still think it's worth allowing `error?` inside of `rule` blocks to check for the presence of either schema or rule errors, but that's probably for another issue 😉

[2020-08-04 09:09] solnic commented on #658
@adamransom yes this makes sense as well!

[2020-08-05 09:07] #661 closed

[2020-08-21 07:30] #663 closed

[2020-08-24 14:14] fgi opened #667 "KeyValidation error formatting issues"
**Before you submit this: WE ONLY ACCEPT BUG REPORTS AND FEATURE REQUESTS**

For more information see `CONTRIBUTING.md`.

**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Provide detailed steps to reproduce, an executable script would be best.

**Expected behavior**

A clear and concise description of what you expected to happen.

**Your environment**

-

[2020-09-04 06:33] kmasuda-aiming opened #669 "#666 changes is dropped by devtools sync"
#666 changes is dropped by devtools sync (commit: ac197b28c4d6cc9c1582c521c4a7beccabfa1d9e)
1.5.5 is not include dry-schema bumped.

[2020-09-04 07:32] #669 closed

[2020-09-04 07:33] solnic commented on #669
@kmasuda-aiming thanks for spotting this! This will be fixed today in 1.5.6

[2020-09-16 15:31] vatnajokull opened #670 "Rule#each. Undefined method `key?' for nil:NilClass"
**Describe the bug**

After calling contract with nested hash when the root key is nil and rule with `.each` applied the error occurs
[code]
**To Reproduce**
Giving a simple contract like this one:

[code]
**Expected behavior**

**Expected behavior**
The contract does not raise any errors.

**Your environment**
- dry-validation 1.5.6
- Ruby 2.6.5

[2020-09-17 10:51] solnic commented on #670
this is actually expected, since you defined `filter.user_ids[]` as an optional key, it may or may not exist, thus its value may not exist. You need to add an additional check to your rule, ie:

[code]

I wonder if this could be automated though... 🤔 After all, we can check that a given key is optional or that a value is defined as "maybe", then we could use that information to automatically add a

[2020-09-20 00:38] contentfree commented on #431
I hate searching for solutions and finding my own posts for years prior…

@solnic Can you explain why you used `maybe(:array...` ? Maybe that'll illuminate things for me (and for me in two years when I search for the same solution…)

[2020-09-22 11:10] solnic commented on #431
@contentfree it's because with `Params` schemas + `maybe` an empty string will be coerced to `nil`, empty hash or empty array, depending on the type.

[2020-09-23 08:05] #670 closed

[2020-10-04 14:40] moofkit commented on #589
I suppose this https://github.com/dry-rb/dry-validation/pull/652 is closing the issue

[2020-10-04 15:35] flash-gordon commented on #589
thanks

[2020-10-04 15:35] #589 closed

[2020-10-15 22:25] francois commented on #578
I just hit the same kind of issue, where my params look like:

[code]

I have a macro named `email_format`, which I'd like to apply to the email fields on the nested locators, but this fails:

[code]

[code]

I fixed my immediate problem by using the solution in [Calling a macro on a depply nested rule](https://discourse.dry-rb.org/t/calling-a-macro-on-a-depply-nested-rule/842/10?u=francoisb). It

[2020-10-17 09:50] sirfilip commented on #658
i can pick this one up

[2020-11-07 15:55] pyromaniac opened #674 "Allow passing intial context to the contract"
Summary of what the feature is supposed to do.

Would be awesome to be able to pass the initial context state to the `Contract#call` method. This will enable some code optimizations and flexibility.

[code]

This approach allows us:
1. Pass the context further to the operation class, which will perform updates
2. Optimize operations performed in batches `posts.each { |post| contract.call({post_id:

[2020-11-07 16:00] pyromaniac commented on #674
We can even go further and allow to pass the initial initial context to the initializer. Not sure how idiomatic is it going to be though. And actually it is possible to do with DI but we will have to all an additional rule which populates the instance context, which is a bit ugly I'd say.

Nevertheless, I believe that passing initial context to the `call` method would be invaluable.

[2020-11-11 11:00] solnic commented on #674
@pyromaniac hey, thanks for the suggestion but in the future please use our forum to propose new features. We're using issues only for bug reports and feature requests that were previously discussed on the forum (or some other channel of communication).

Anyhow, in this case, I think it's a good idea. I think we want to use the option API and do something like this:

[code]

...and then in the cal

[2020-11-11 11:07] solnic commented on #658
Closed via #673

[2020-11-11 11:08] solnic commented on #658
@sirfilip thanks but actually @moofkit addressed it in #673 which I believe was opened before your comment here 🙂

[2020-11-11 11:12] solnic commented on #578
So, for that, we want to come up with an explicit key path syntax that points to arrays. It's partially implemented in some places in dry-schema but we really need to properly encapsulate it in `Dry::Schema::Path` so that parsing and processing such paths is simple. In general, handling key paths must be improved and cleaned up (both in validation and schema), thus I'm scheduling this for 2.0.0.

[2020-11-11 11:17] pyromaniac commented on #674
A-ha, I see now. I just thought that the fact that there is a feature template makes me free to use it.

As for `option :default_context, default: -> { EMPTY_HASH }`, I was afraid that you are going to propose this. I was thinking about it for a long time. Imagine, you have an application container that stores all the dependencies so you could inject them later. Dry-container, for example, doesn't

[2020-11-11 12:15] solnic commented on #674
@pyromaniac ah, yeah it makes sense! thanks for the explanation. I think having `def call(input, context: EMPTY_HASH)` would be better than kwargs though.

[2020-11-11 12:25] pyromaniac commented on #674
Yeah, I'd say it will be a bit less convenient but API-wise more future-proof.

[2020-11-11 12:30] flash-gordon commented on #674
You can always have a custom base class like
[code]

[2020-11-11 12:33] pyromaniac commented on #674
Alright, can do the PR over the weekend probably. Maybe a bit earlier. Thanks for your opinions folks!

[2020-11-26 12:32] TimoMoss commented on #607
Hello, I think my question suits this issue as well

I have a macro:

[code]

and I have to check in the same file both a single case such as the following:

`rule(%i[data attributes token]).validate(:numeric_string?)`

and for a separate case also array of numeric strings:

[code]

the last one does not work

is there a right way how to do that?

Many thanks in advance

[2020-11-29 18:39] TimoMoss opened #676 "TypeError: no implicit conversion of Symbol into Integer using nested hash and rule"
Hello,
I'm getting an error in the following combination
- gem 'dry-validation', '~> 1.4
- Affects my production application: **YES**.
- Ruby version:  '2.5.7'
- OS:  Mac OS

[code]
scenario:
I'm trying to check that the type of the nested hash is Hash,
for this purpose, in specs, I assign to it an Array, so I expect to get a message:
{data: {relationships: {object: {data: ['must be a hash']}}}}

[2020-12-05 18:16] solnic commented on #674
This was done via #675

[2020-12-05 18:16] #674 closed

[2020-12-05 18:17] solnic commented on #658
This was done via #673

[2020-12-05 18:17] #658 closed

[2020-12-08 06:52] solnic commented on #676
hey @TimoMoss thanks for reporting this. I didn't manage to fix it in 1.6.0 but we'll get to it eventually in 1.6.1 🙂

[2020-12-08 07:23] solnic commented on #607
@TimoMoss for now you need to handle it manually, well implement a nice DSL for it at some point. For now I'm adding this to 1.7.0 milestone.

[2020-12-12 17:36] musaffa commented on #540
I've a contract like this:
[code]

If there's no `per_page` key, this code creates error with the predicate macros as defined in its rule. As an alternative, we can check for `key?` in a rule block. But doing the works of predicate macros and their associated errors manually inside a rule block will create a lot of boilerplate codes.

I've been trying to upgrade dry-validation from 0.13 to >= 1.0.

[2020-12-13 08:50] solnic commented on #540
@musaffa I'm not yet sure how to solve this. Adding `key?` check automatically may not be desired in various cases, see #550's description for more info.

[2020-12-13 15:22] musaffa commented on #540
Exposing `validate` inside the rule block might solve the issue. For example:

[code]

For `maybe` with `optional`:

[code]

[2020-12-14 07:38] solnic commented on #540
@musaffa I reckon it'd be simpler (and better UX too) to extend `rule` DSL with pattern-matching-like API, starting with support for `key?` like I mentioned above, so:

[code]

that would just work and you could also use it with block-based rules. WDYT?

[2020-12-14 10:37] musaffa commented on #540
A guard can be a good shortcut. It's simpler and concise.

`rule` also supports multiple keys. How will guard(:key?) function in those cases?

`guard(:key?)` will only cover for `optional` key. For `maybe`, we will also need to guard the `value` before passing it to the `validate` function.

I still think that the ability to call `validate` inside the rule block can be a valuable addition. Not jus

[2020-12-14 11:14] solnic commented on #540
Yeah we can have probably `if` and `unless` instead of `guard`, then you could have:

[code]

We could even go nuts a bit and provide a shortcut (but I've got mixed feelings about this):

[code]

Yes this is a really good point, thank you. I'll experiment with this and get back to you.

[2020-12-14 11:58] musaffa commented on #540
`:nil?` looks ambiguous. It may mean key or value. `:value?` may be more suitable:

[code]

I know where it's coming from. The spectre of ActiveModel validation haunts us all.

[2020-12-16 06:29] solnic opened #678 "Support for pattern-matched rules"
In order to make defining rules that depend on additional conditions nicer, we can have something like this:

[code]

See the original conversation: https://github.com/dry-rb/dry-validation/issues/540#issuecomment-744022950

[2020-12-16 06:32] solnic opened #679 "Support for "validate" helper within rule blocks"
Support for executing predicates using `validate` method within `rule` blocks will make it much easier to apply various checks with extra conditions:

[code]

See the original conversation: https://github.com/dry-rb/dry-validation/issues/678

[2020-12-16 06:34] solnic commented on #540
@musaffa I reported two feature requests:

* https://github.com/dry-rb/dry-validation/issues/678
* https://github.com/dry-rb/dry-validation/issues/679

It's tentatively scheduled to be part of 1.7.0 release. I marked both as `help wanted` for the time being though. I'll give this a shot during xmas break unless somebody beats me to it.

[2020-12-16 15:03] musaffa commented on #678
Above code won't work. For `optional`, we will need `:key?`. What is going to check for `maybe`? Unlike `optional` which is related to `key`, `maybe` is related to its `value`.

[2020-12-16 15:09] musaffa commented on #679
Will it be possible to call `validate` inside rule block without providing an explicit key failure as shown above? Predicate macros and custom registered macros have key failures defined in them already.

[2020-12-16 17:16] flash-gordon commented on #679
smth like `valid?(gt?: 0, lteq?: 20)`. I'm not sure if it should be done in a single PR

[2020-12-17 05:03] solnic commented on #678
@musaffa right, thanks - just updated the example. The actual part that needs to be implemented is the `if` method. The underlying predicates (like `key?`) will be available OOTB, so we can add `value?` like you suggested in a separate PR, because essentially it's going to be a separate, new feature as well 🙂

[2020-12-17 05:05] solnic commented on #679
@musaffa yes! I just updated the example but I think @flash-gordon has a point and we should have `valid?` too and I agree it should be in a separate PR as it would be a distinct new feature too.

[2021-01-28 19:03] tak1n commented on #593
@anmacagno thx for ur snippet. Just a short extension, when using `array(:hash)` any key coming inside `concepts` json will go through. Therefore we use the schema of the child contract in the parent contract schema.

[code]

[2021-02-02 18:04] Somestuffman opened #681 "Method `key?` does not accept any args"
## Describe the bug

Hello!
According to the [docs](https://dry-rb.org/gems/dry-validation/1.5/rules/#checking-if-the-value-is-present) it is possible to pass key name to the `key?` method. Passing key name to the method inside multiple keys rule returns `ArgumentError: wrong number of arguments (given 1, expected 0)`.

## To Reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[co

[2021-02-03 07:57] solnic commented on #681
This was added in 1.5.4 so please upgrade. The docs assume you're on the latest version from a given minor version series, meaning that docs for 1.5 assume the latest 1.5.x release. The CHANGELOG explains when this feature was added btw, so in the future please see CHANGELOGs. We "should" of course have versioned docs for every-single-release and hopefully we'll have it one day.

[2021-02-03 07:57] #681 closed

[2021-02-03 08:46] Somestuffman commented on #681
Thanks!

[2021-02-17 18:37] tbsvttr commented on #593
@solnic This feature would much improve this already great library!

[2021-02-18 05:34] solnic commented on #593
@tbsvttr ah thanks, I know it's long-time coming but we'll get to implement it eventually 🙂

[2021-02-22 13:36] tbsvttr commented on #593
@tak1n While your solution works very well it has the downside that now each error hash has this text key value pair added which neither adds very useful additional information and also could lead to the confusion that the validated field in a hash has a field named text. Is there a way to get rid of it?

[2021-03-09 20:04] elohanlon opened #682 "Dry::Validation::Contract reports an error for coercible integer strings, but only when a hash field fails validation"
## Describe the bug

Hello.  I'm running into an issue where a Dry::Validation::Contract reports an error for coercible integer strings, but only when a hash field fails validation.  I've included some rspec tests below that demonstrate a few successful validation cases and one unexpected failure case .

## To Reproduce

[code]

## Expected behavior

Since string values of `'1'` and `'2'` don't fa

[2021-03-09 20:57] flash-gordon commented on #682
you should be using `required(:outer_key).hash do`

[2021-03-10 08:39] solnic commented on #682
For now, yes, but in 2.0.0 it won't work. `value(:hash)` should work, so this is a bug. I'm assigning this to 2.0.0 milestone, because one of the biggest priorities in this release will be to clean up the way types are handled. After the clean up, fixing bugs like this one will be much simpler than it would be now. It's also possible that the clean up will fix some of the bugs as a nice side-effec

[2021-03-10 19:37] elohanlon commented on #682
Thanks, @solnic !

[2021-04-08 15:17] pandwoter opened #683 "Params.date validation strange behaviour"
## Describe the bug

Not sure is it a bug tho, but wanted to clarify the correctness of such behavior.

## To Reproduce

[code]

## Expected behavior

[code]

## My environment

- Affects my production application: **YES**
- Ruby version: 2.7.1

[2021-04-08 17:01] flash-gordon commented on #683
dry-types delegates it to ruby by calling `Date.parse`. I don't really know why `Date.parse` works like that but you can use your own types with stricter definition

[2021-04-08 18:58] pandwoter commented on #683
Fair enough let's close then, thanks for the answer.

[2021-04-08 18:58] #683 closed

[2021-04-09 05:39] solnic commented on #683
@pandwoter btw - please use `optional(:date).filled(:date)` instead of the string qualifiers. Re parse behavior - this is actually really bad, I'd consider changing this in dry-types.

[2021-04-09 06:47] pandwoter commented on #683
Ok, thanks! That example was just for demonstration.

[2021-04-09 21:39] b43 commented on #384
sorry for reopening old issue, but how to achieve this behavior today, in version 1.6 ?

[2021-04-10 06:46] flash-gordon commented on #384
Check out docs on rules or ask a question on our forum with a sample piece of code.

[2021-04-19 12:06] jacobtani commented on #593
Hi- are we getting closer to allowing contracts to be reused within another contract?

[2021-04-19 13:21] solnic commented on #593
@jacobtani not really :( currently it doesn't seem like there's anybody who'd have time to work on this feature. Like I mentioned, we'll get to this eventually. It's on my radar and it's going to be my priority after we're done with Hanami 2.0 (FWIW).

[2021-04-25 18:59] musaffa commented on #678
@solnic Hi, Is there any update about this feature?

[2021-04-26 04:52] solnic commented on #678
@musaffa hey there, no, nobody has had the time to work on this yet. There's a lot of more important things to do in validation/schema so this needs to wait.

[2021-04-26 10:29] musaffa commented on #678
@solnic I can help with implementing this feature. For that, I'll need some guidance from you.

[2021-04-27 04:05] solnic commented on #678
@musaffa that's cool! Feel free to grab this issue. I don't really have any specific idea how to implement this so you need to experiment a bit. Rules are captured via [`Contract.rule`](https://github.com/dry-rb/dry-validation/blob/0efa0b90620d3bd11e0eed4d2d3146f634f8f862/lib/dry/validation/contract/class_interface.rb#L107) so I think something similar can be done as we have in case of [`Rule#each

[2021-04-27 05:46] jacobtani opened #684 "Maybe macro not working for hash"
[code]

dry validation 1.6

If I pass in params of:
[code]
then the response coming back is metadata must be a hash - but I thought the maybe macro allows for nil metadata key?

If maybe(:hash) doesn't work - how would you recommend searching for a key that can be nil or a hash

[2021-04-27 16:52] musaffa commented on #678
Thanks. I'll look into it.

[2021-04-28 07:24] solnic commented on #678
@musaffa I'd start with this additional top-level method, actually 🙂

[2021-04-28 07:49] solnic commented on #684
Hey thanks for reporting this. I actually can't reproduce this:

[code]

[2021-04-28 10:26] jacobtani commented on #684
Ah damn. Do you have alternative syntax I can try to achieve the same even if it involves rules?

[2021-04-28 12:13] musaffa commented on #678
Noted.

[2021-04-29 07:10] jacobtani commented on #684
I managed to find the issue - thanks alot your code above was useful to see :)

[2021-04-29 07:10] #684 closed

[2021-05-13 11:37] aleksandra-stolyar opened #685 "Error message path for rule with nested params"
## Describe the bug
The error message from dry-validation for incorrect key nesting in en.yml file for rule with nested params is giving wrong path.

## To Reproduce
Consider having such schema and some rule depending on several nested parameters.
[code]
I tried different nesting of keys in en.yml, but nothing worked. This was the last edit:
[code]

Which as many other tries was giving this error

[2021-06-08 19:33] moofkit commented on #685
Hi @aleksandra-stolyar! I think you have an issue with configuration.
I was trying to reproduce your bug with [this gist](https://gist.github.com/moofkit/c1d7c564dc1d12c9758c118585324590)

But test is passing for now
[code]

You can check this out. Or I miss something?

[2021-08-12 13:41] midnight-wonderer opened #688 "Macros do not support validation on root object"
## Describe the bug

I extracted a macro into a reusable module, like this:
[code]

and use it like this:
[code]
which works fine.

But I cannot use it on the root hash, like this:
[code]

## Expected behavior

The macro should validate the root hash the same way as when I use it on an inner hash.

## Actual behavior

dry-validation throws an `ArgumentError`
[code]

## My environment

- Ruby versi

[2021-08-12 14:37] midnight-wonderer commented on #688
Oops! my bad
I can avoid the error myself by detecting `keys.empty?` in my macro.
[code]
If I call `value` as I described initially, the error will be triggered.

I'll leave this thread open and let the maintainer decide whether the inconsistencies are something to be handled by dry-rb, or by consumers. I would understand if there is no good solution for the library, though.
Feel free to close the

[2021-08-23 16:24] kadru opened #689 "no implicit conversion of Integer into String"
## Describe the bug

When I use a format validation with a value expected to be a string but when a integer is passed raises an error `no implicit conversion of Integer into String`

## To Reproduce

[code]

## Expected behavior

The validation must fail

## My environment

- Affects my production application: YES
- Ruby version: 2.7.2
- OS: Ubuntu 20.04.2 LTS

[2021-08-24 08:22] flash-gordon commented on #689
correct usage would be
[code]

[2021-08-24 08:22] #689 closed

[2021-10-20 14:11] fnordfish opened #692 "I18n Namespaced messages and Sum(String, Symbol) types crash with NameError"
## Describe the bug

I'm not 100% sure whether this is a dry-validation or dry-schema bug. I've encountered it using dry-validation.

Using contract with:
- message backend `:i18n`
- a custom message namespace
- a param using a dry-types Sum type of String and Symbol (see below)

Other Sum types - I've testes `String | Nil`, `String | String` - seem to work.

## To Reproduce

[code]

## Expected b

[2021-11-16 12:22] yuuan opened #693 "Rule#each. undefined method `map' for nil:NilClass"
## Describe the bug

NoMethodError was raised when maybe array rule receives nil.

## To Reproduce

[code]

## Expected behavior

Don't run each if the rule with maybe receives nil.

## My environment

- Affects my production application: **NO**
- Ruby version: ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-linux]
- OS: Fedora release 35 (Thirty Five)

### Stack trace
[code]

### Gemfile.

[2021-11-17 12:15] flash-gordon commented on #693
It's incorrect, calling `.each` just adds another check, it's not connected to the `nil`-check added by `maybe`.

Change it to
[code]

Or this one seems to work as well
[code]

[2021-11-17 12:15] #693 closed

[2021-12-19 23:26] Ale0x78ButInBinary opened #700 "[Security] Workflow sync_configs.yml is using vulnerable action actions/checkout"
The workflow sync_configs.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE f

[2021-12-20 05:46] #700 closed

[2022-01-17 18:44] EricToshio opened #702 "Contract do not find schema keys defined with nested Dry Params."
## Describe the bug

Dry Validation Contract class do not find schema keys defined with nested Dry Params.

## To Reproduce

Initial code (okay):

[code]

refactor code (get error):

[code]

error:

[code]

## Expected behavior

Should define contract class `DataContractWithParams` without error.

## My environment

- Affects my production application: **NO**
- Ruby version: 2.6.6
- OS: macOS Mont

[2022-01-18 04:50] flash-gordon commented on #702
Have you seen where it was declared as supported?

[2022-01-18 08:30] solnic commented on #702
I believe it should be:

[code]

No?

[2022-01-18 12:18] EricToshio commented on #702
Thank you @flash-gordon for your help!
It's not explicit declared as supported in `dry-validation`.
This declare was created based on `dry-schema` since `dry-validation` uses It under the hood.
In **reusing schemas** section of `dry-schema` documentation, show that you can use :

[code]

And in **nested data**, show that you can use:

[code]

Merging both idea in `dry-validation` schema definition

[2022-01-19 08:17] solnic commented on #702
@EricToshio ah right, this should work too: `required(:users).array(UserParams.new)`

[2022-01-20 06:51] flash-gordon commented on #702
@EricToshio we don't expect a value from the schema block, it's likely being ignored

[2022-01-20 11:09] EricToshio commented on #702
Thank you!

[2022-01-20 11:09] #702 closed

[2022-01-28 18:03] stevenhan2 opened #703 "Inconsistent behavior in nested schemas via passed in blocks"
## Describe the bug

When schemas are passed blocks, `required` field behavior does not always work, and there is inconsistent behavior for reaching validation rules -- although it seems to correlate with whether the `required` is evaluated.

## To Reproduce

[code]

## Expected behavior

I would expect every one of the above results to contain ```{:recommended_tire=>{:size=>["is missing"]}```, an

[2022-01-29 09:41] solnic commented on #703
Does it work when you do `.hash` instead of `.hash.schema`? Why do you do `.hash.schema` btw? I understand that it's possible but maybe it shouldn't be if it causes issues.

[2022-01-31 20:12] stevenhan2 commented on #703
No 😞 -- replacing all `.hash.schema` with `.hash` in the example (three locations) did not change anything.

[2022-02-01 09:01] solnic commented on #703
OK thanks, clearly a bug. Thanks for reporting.

[2022-02-15 07:32] #692 closed

[2022-02-15 07:36] solnic commented on #692
This will be fixed in dry-validation 1.8.0 / dry-schema 1.9.1

[2022-03-03 13:08] MatElGran opened #705 "Incorrect validation of rule keys substring of schema keys"
## Describe the bug

Contract#rule does not reject invalid keys if they are substring of valid keys

## To Reproduce

<details>
<summary>
reproduction script
</summary>

[code]

</details>

## Expected behavior

Contract#rule should raise an InvalidKeysError

## My environment

- Affects my production application: NO
- Ruby version: 2.7
- OS: macOS

[2022-03-07 15:48] guilherme-andrade commented on #604
Any plans to revisit this issue?

[2022-03-13 10:49] solnic commented on #604
@guilherme-andrade it's marked as `help wanted` which means that PRs are welcome

[2022-03-15 07:26] #705 closed

[2022-03-15 15:55] morgoth commented on #606
looks like this can be closed, as it's implemented and released

[2022-04-15 07:42] flash-gordon opened #707 "Injecting dependencies using dry-auto_inject with reserved names"
Here I'm trying to inject a dependency named `config` using the default kwargs strategy of dry-auto_inject.

[code]

This results in

[code]

The problem is dry-validation uses `config` as one of its constructor keywords. dry-auto_inject "guesses" it should pass the dependency down (or up?) to the parent class. This way dry-validation gets the wrong config object. I guess we should rename `config`

[2022-05-04 13:47] bautrey37 opened #708 "`rule.each` produces error when input is `nil`"
## Describe the bug

Error is returned back on `rule.each` when passed in the input value is `nil`. `nil` input should be accepted when a `maybe` is used on the key.

Error:  undefined method `each_with_index' for nil:NilClass (NoMethodError)

## To Reproduce

[code]

Stack trace:
[code]

Location where error occurs: https://github.com/dry-rb/dry-validation/blob/main/lib/dry/validation/rule.rb#L86

[2022-05-08 10:16] solnic commented on #708
Thanks for reporting this. I'm not sure if we want to implicitly skip applying rules just because something is `nil` without actually making sure that `nil` is an acceptable value. IIRC it does happen already in some cases but I've always had mixed feelings about this. Having said that, for consistency's sake we should fix it like you suggested.

[2022-05-10 08:20] bautrey37 commented on #708
Opened a PR for this. https://github.com/dry-rb/dry-validation/pull/709

I agree it's not best to implicitly skip applying rules when a value is `nil`. I don't know how to implement the solution any better.

[2022-05-28 08:22] #708 closed

[2022-06-16 17:56] mereghost commented on #682
This seems to be an issue on `dry-schema` itself. The `ValueCoercer`s get kinda funky when you have a  `value` (or `filled` for that matter) of `:hash` and this leads to the later failures are basically no changes get applied and the rules don't verify in the end.

[2022-06-17 07:29] #676 closed

[2022-06-18 17:44] mereghost commented on #682
So after some diving into this, it relates more into `dry-types`. Let me see if I can explain what's happening:

`Dry::Types::Schema#resolve_safe` goes on to evaluate each key and its type. For `:hash` fields we get `#<Dry::Types[Constructor<Hash< meta={required: false, maybe: false}> fn=Dry::Types::Coercions::Params.to_hash>]>` which seems correct.

The implementation for the method is in [`Dry::

[2022-06-19 07:09] solnic commented on #682
@mereghost wow that's some major investigation right there! 🙇🏻

[2022-06-19 17:11] elohanlon commented on #682
@mereghost Thank you for looking into this!

[2022-08-24 14:21] sdalu opened #712 "Building contract failed when or-ing types"
The following code result in `key not found: "int?" (Dry::Container::KeyError)`

[code]

dry-validation: 1.8.1
dry-schema: 1.10.2
dry-types: 1.5.1
ruby: 3.1.2

[2022-08-25 07:35] #712 closed

[2022-08-25 07:37] solnic commented on #712
oh and btw, I would do it like that anyway:

[code]

This makes more sense, because it's supposed to be either an integer or a string that's not empty.

[2022-09-09 11:29] guilherme-andrade opened #713 "Validation passes when array type is invalid"
## Describe the bug

When creating a custom type and using with the `array` rule, it appears that the validations applied by the type are not applied always by the rule. See the example below, and note that the last test is failing when it shouldn't:

## To Reproduce

[code]

These tests all pass as expected:
[code]

The first test passes, the second fails:
[code]

## Expected behavior

It is expe

[2022-09-12 08:35] solnic commented on #713
Thanks for reporting this. Looks like the right-side hash type is not expanded fully to a schema rule:

[code]

[2022-10-14 05:23] tanyongkee opened #716 "NoMethodError is raised when validating non-hash objects with a Dry::Validation::Contract that has config.validate_keys set to true"
## Describe the bug

NoMethodError is raised when validating non-hash objects with a Dry::Validation::Contract that has config.validate_keys set to true.

Example

## To Reproduce
[code]

`TestContract.new.call(1)`

[code]
## Expected behavior

`=> #<Dry::Validation::Result{} errors={:name=>["is missing"]}>`

The expected behavior is observed when `config.validate_keys = false`

## My environment

[2022-10-15 19:45] bestwebua opened #717 "Dry::Validation::MissingMessageError after update dry stack"
## Describe the bug

After updating dry stack I got unexpected i18n translation errors.

## To Reproduce

Dry deps:

[code]

Source code:

[code]

Translation and output:

[code]

## Expected behavior

Translations should be found.

## My environment

- Affects my production application: **YES**
- Ruby version: `ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x86_64-darwin20]`

[2022-10-16 07:50] #717 closed

[2022-10-16 07:56] solnic commented on #717
Gaah super sorry about this :( I just fixed it in dry-schema and it'll be released in dry-schema 1.11.2

[2022-10-16 11:06] bestwebua commented on #717
@solnic Peter, thanks for your huge work! Now it works brilliant! ❤️

[2022-10-17 04:27] solnic commented on #716
I couldn't reproduce it with dry-validation 1.9.0 and dry-schema 1.11.2

[code]

[2022-10-17 04:50] timriley commented on #716
@solnic I think the problem raised initially is if the contract is called with a **non-hash** value:

[code]

Of course, that's nonsensical usage for the structure of the contract we've been discussing here.

I wonder if we should raise a more meaningful error earlier in the call stack rather than waiting for a NoMethodError about flat_map?

[2022-10-17 05:00] solnic commented on #716
Oh right. Thanks Tim. I'm pretty sure it happens regardless of the validate_keys setting though. dry-schema doesn't check the input and assumes you passed in a hash. We could change it to only expect a hash and raise a meaningful error in case of non-hash values.

[2022-10-19 13:21] morgoth opened #718 "Weird issue since 1.10 dry-schema release"
With code:
[code]
I'm getting `{:results=>{:tours=>{0=>{:last_stop_ends_at=>["must be a date time"], :stops=>{0=>{:starts_at=>["must be a date time"]}}}}}}`

This works fine with dry-schema 1.9.3.
When I comment the `:id` validation (which is missing in the payload) it passes with the dry-schema > 1.10.0

I'm not sure if this should be reported on dry-validation (I'm having the problem here) or dr

[2022-10-22 07:41] solnic commented on #718
@robhanlon22 any chance you could verify this?

[2022-11-08 09:15] sbezugliy opened #719 "Validator didn't recognize nil string param value as empty, and didn't set default value"
## Describe the bug

I using Interactor based on `Validation::Contract` with mixed in `dry-initializer` and `dry-transaction`. I trying to use schema for validation in one line with initializer to set default param values and convert types/formats for some of them using `dry-initializer`.

## To Reproduce

Loaded app components using Zeitwerk, didn't use dry-container in current case.

Spec failur

[2022-11-08 09:17] sbezugliy commented on #719
The same for interactor setting default value as next
[code]

[2022-11-08 11:55] solnic commented on #719
Transaction and Contract are not meant to be used in the same class, I'm not sure if this causes the issue but I figured I should mention that. Both implement `#call` so this doesn't make sense.

[2022-11-08 15:16] sbezugliy commented on #719
Hmm... Understood. I did find this as interesting use-case, mixing both inside of same context. I will analyze one more time, to combine them, due to I want to get thin context between serializers and backend classes, and to realise conveyor and railway approaches, with strong fault traceability.

[2022-11-08 15:32] sbezugliy commented on #719
And thank you for direction to solve!

[2022-11-11 20:16] sbezugliy commented on #719
Solved it in this way.

schema:
[code]

contracts:
[code]

[code]

interactor:
[code]

[code]

It's simples chain of interaction, but current layout is well covers my requirements for interactor of 10 steps with some branch actions.
Next also I'll add layer of dry-matchers to convert dry-monades messages to formatted JSON API responses.

[2022-11-11 20:16] #719 closed

[2022-11-15 05:58] RajatPawar opened #720 "Schema failing to recognise valid input"
## Describe the bug

I have the a json schema that is not picking up on valid input.

## To Reproduce

[code]

## Expected behavior

It should have picked up the input since it was conforming to the schema.

## My environment

- Affects my production application: **NO**
- Ruby version: 2.6.10
- OS: macOS 12.6

[2022-11-16 09:35] flash-gordon commented on #720
`?`-ending keys are not supported because they have special meaning in dry-types. It was a trade-off I made. We could have an option for schemas to avoid this in dry-schema, I think. I'll give it a try.

[2022-11-16 09:56] RajatPawar commented on #720
Ah, okay! I didn't see it in the documentation, could you please add it along with any other key constraints? It would make things easier to have this functionality. Appreciate the work behind this library, thanks!

[2022-11-16 14:54] zavan commented on #679
I monkey-patched `Evaluator` to add `validate` as a proof of concept:

[code]

Then you can call `validate(:filled?, included_in?: [[1, 2, 3]], gt?: 18)` within the rule block.

I just took [these methods](https://github.com/dry-rb/dry-validation/blob/664ae8c823a533cc0bccf90f9e7078bed0f8c451/lib/dry/validation/rule.rb#L117-L132) from `Rule` to prepare the macros and [this](https://github.com/dry-r

[2022-11-16 15:41] zavan commented on #679
I forked and created a branch if you want to take a look: https://github.com/dry-rb/dry-validation/compare/main...zavan:dry-validation:macros-within-rule

No tests yet and it breaks the existing ones relying on `Contract` doubles, as contract is expected to respond to `#macro`.

[2022-11-16 19:16] zavan commented on #593
If you're looking to just merge at the top level like myself, looks like you can do this:

[code]

[2022-11-19 09:27] tonytonyjan commented on #582
I am having the same issue. What I am trying to do is:

1. `params[:foo]` is required.
2. If `params[:foo]` is `true`, then `params[:bar]` is required, otherwise `params[:bar]` is optional.

Looks like it's not possible using dry-validation.

The equivalent JSON schema looks like:

[code]

[2022-11-20 19:41] #718 closed

[2022-11-21 08:57] flash-gordon commented on #582
Dependencies between fields _must_ be handled via rules, not through the schema dsl. `:bar` should always be optional, then you check its presence with custom logic in a rule block.

[2022-11-26 08:44] solnic commented on #679
It would be great to have this. If you could open a PR with fixed tests that would be awesome.